{% extends 'base.html' %}
{% load static %}


{% block title %}
<title>Update Book Page</title>

<style>
    #form-div{
        width: 60%;
        margin: 0px auto;
    }
</style>
{% endblock title %}


{% block body %}

<div class="container my-5">

    <div class="container bg-secondary text-light text-center p-2 rounded-3 shadow">
        <h1 class="display-6">Update Book</h1>
    </div>


    <div class="container my-5 p-5 shadow rounded-3" id="form-div">


        <div class="mb-3">
            <input type="text" name="name" id="name" class="form-control" placeholder="Enter Book Name" required value="{{book.name}}">
        </div>

        <div class="mb-3">
            <input type="text" name="author" id="author" class="form-control" placeholder="Enter Book Author Name" required value="{{book.author}}">
        </div>

        <div class="mb-3">
            <input type="number" name="price" id="price" class="form-control" placeholder="Enter Book Price" required value="{{book.price}}">
        </div>

        <div class="mb-3">
            <textarea name="desc" id="desc" cols="30" rows="10" class="form-control" placeholder="Enter Book Description" required >{{book.desc}}</textarea>
        </div>

        <div class="mb-3">
            <input type="submit"  id="sumbit" value="Update Book" class="btn btn-success"  onclick="UpdateBook({{book.id}})">
        </div>
    </div>
</div>

<script>
    function UpdateBook(id){
        // console.log(id)
        // alert(id)

        var name = document.getElementById('name').value;
        var desc = document.getElementById('desc').value;
        var author = document.getElementById('author').value;
        var price = document.getElementById('price').value;

        let formData = new FormData();
        formData.append('name' , name);
        formData.append('desc' , desc);
        formData.append('author' , author);
        formData.append('price' , price);
        formData.append('csrfmiddlewaretoken' ,'{{csrf_token}}' );

        axios.put(`http://127.0.0.1:8000/book_api/action/${id}/` , formData)
        .then( (resp) => {
            console.log(resp.data)

            
            window.location = '/dashboard/'
            alert(resp.data.status)
        }).catch(function(err){
            alert(err)
        })
    }
</script>

{% endblock body %}
